# ignore environment files
/photodex/.env

# ignore nodemodules
/photodex/node_modules

# ignore OS files
*.DS_Store
=======
# ignore IDE files
.idea/

# ignore OS files
.DS_Store

# ignore env files
.env

# ignode node_modules
/photodex/node_modules

